@using EFDAL.Entities;
@model IEnumerable<EFDAL.Entities.Category>

@if(Model != null && Model.Count() > 0)
{
    <a asp-action="Create"> Create New</a>
    <h3> All category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Category ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Category category in Model)
            {
                <tr>
                    <td> @category.CategoryId</td>
                    <td> @category.Name</td>
                    <td> @category.Description</td>
                    <td> @Html.ActionLink("Details","Details",new{Id = category.CategoryId})</td>
                    <td> @Html.ActionLink("Delete","Delete",new{Id = category.CategoryId})</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3> NO Category Avilable</h3>
}